.locationIcon {
  width: 32px;
}

div.mapboxgl-marker {
  margin-top: -16px;
  margin-left: -16px;
}

div.mapboxgl-marker.gasStation {
  margin-top: -24px;
  margin-left: -30px;
}

div.react-toast-notifications__container {
  z-index: 1031 ;
}

.selected-gasType.list-group-item {
  font-style: italic;
  font-weight: bold;
}